@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";


.ms-35 {
    margin-left: 35px
}

.top-14 {
    top: 14%
}

.p-50 {
    padding: 50px;
}

.mr-n10 {
    margin-right: -10px;
}


.rp-shadow {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-home,
.logo-way {
    width: 110px;
    height: 110px;
}

.final-report {
    height: 440px;
    width: 100%;
}