.schedule-img {
    width: 107px;
    height: 107px;
}

.schedule-img3 {
    width: 280px;
    height: 172px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.schedule-box {
    width: 70px;
    height: 50px;
    bottom: 0px;
    left: 0px;
}

.fs-16 {
    font-size: 16px;
}

.fs-48 {
    font-size: 48px;
}

.box-day {
    height: 25px;
}

.text-redbasket {
    color: #ff0000;
}

.text-orange {
    color: #ff7f00;
}

.bg-redbasket {
    background-color: #ff0000;
}



/* Extral small devices(phones 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .basketball-contain {
        margin-left: 0;
        margin-right: 0;
    }

    .basketball-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .box-news {
        width: 20rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .basketball-contain {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .basketball-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .box-news {
        width: 100%;
    }
}


@media screen and (min-width: 992px) and (max-width: 1440px) {
    .basketball-contain {
        margin-left: 0;
        margin-right: 0;
    }

    .basketball-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .box-news {
        max-width: 25rem;
    }

}


@media only screen and (min-width: 1440px) {

    .basketball-contain {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .basketball-news {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .box-news {
        width: 100%;
    }
}