.schedule-img {
    width: 107px;
    height: 107px;
}

.schedule-img3 {
    width: 280px;
    height: 172px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.schedule-box {
    width: 70px;
    height: 50px;
    bottom: 0px;
    left: 0px;
}

.fs-16 {
    font-size: 16px;
}

.fs-48 {
    font-size: 48px;
}

.mx-9 {
    margin-left: 7rem;
    margin-right: 7rem;
}


.box-day {
    height: 25px;
}

.text-baseball {
    color: #92426b;
}

.text-gray {
    color: #b7bbc7;
}

.bg-baseball {
    background-color: #92426b;
}

.bg-news {
    background-color: #d4dadf;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 20rem;

}

.box-news-des {
    width: 280px;
}