.box-banner1 {
    padding-top: 4rem;
    padding-left: 6rem;
    padding-bottom: 5rem;
    // width: 672px;
    height: auto;
    background-color: #dfe7ee;
}

.fs-80 {
    font-size: 80px;
}

.bg-sports {
    background-color: #abb8c3;
}

.text-sports {
    color: #A2DE03;
}

.bg-subsribe {
    background-color: #A2DE03;
    cursor: pointer;
}

.subscribe-box {
    width: 725px;
}