.heroBanner {
    width: 100%;
    height: 572px;
    background-image: url('https://www.sportshub.com.sg/sites/default/files/styles/convert_webp/public/2022-08/Header%20Sport%20Fitness%201784%20x%20675px_.png.webp?itok=lnfJs6Cx');
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


.fs-sports-65 {
    font-size: 65px;
    color: #fbb20a;

}

.box-banner {
    padding-top: 15rem;
    padding-left: 6rem;
    width: 672px;
}