.fs-60 {
    font-size: 60px;
}

.booking-form {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.booking-img {
    max-width: 60rem;

}