@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

.w-schedule2 {
    width: 620px;
}

.bottom-baseball {
    bottom: -43rem;
    left: 0;
    max-width: 80rem
}

.p-8 {
    padding: 6rem;
}

.fs-10 {
    font-size: 10px;
}

.fs-13 {
    font-size: 13px
}

.fs-60 {
    font-size: 60px;
}

.about-img1 {
    width: 292px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.schedule-img2 {
    width: 100%;
    height: 172px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.schedule-box {
    width: 70px;
    height: 50px;
    bottom: 0px;
    left: 0px;
}

.box-day {
    height: 25px;
}

.w-580 {
    width: 580px;
}

.ms-8 {
    margin-left: 6rem;
}

.me-100 {
    margin-right: 100px;
}

.mt-9 {
    margin-top: 7rem;
}

.about-btn {
    width: 120px;
    height: 42px;
}

.box-about {
    width: 250px;
    height: 371px;
    place-items: center;
}

.icon-circle1 {
    top: 180px;
    left: 0;
    border: 1px solid white;
    padding: 5px;
}

.icon-circle-size {
    width: 40px;
    height: 40px;
    padding: 9px;
}

.final-report1 {
    height: 100%;
    width: 100%;
}


.text-baseball {
    color: #92426b !important;
}

.text-gray {
    color: #b7bbc7 !important;
}

.bg-baseball {
    background-color: #92426b !important;
}


.border-baseball {
    border: 1px solid #92426b !important;
}