.header_container {
    display: grid;
    grid-template-rows: auto auto; 
    justify-items: center; 
    height: auto; 
    color: white;
    background-color: black;  
  }
  
  .web_name {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .nav_bar {
    grid-row: 2; 
  }
  
  .nav_bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .nav_bar ul li {
    margin: 0 10px;
  }
  
  /* banner */
  
  .banner{
    min-height: auto;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 30px 0;
    margin-top: 8px;
  }
  
  .banner_main_content{
    padding: 0 2rem;
    line-height: 1.7;
  }
  
  .banner_main_content h2{
    font-size: 2rem;
    font-family: var(--heading);
  }
  
  .banner_main_content h3{
    padding: 1rem 0;
  }
  .ping{
    padding: 1rem;
  }
  
  .current_news_head{
    background: #fff;
    padding: 20px;
    font-size: 12px;
    margin-left: 0;
    text-align: left;
  }
  
  .current_news_head h3{
    padding: 6px;
    cursor: pointer;
    position: relative;
  }
  
  .current_news_head h3:hover::before{
    font-size: 12px;
    content: ">> ";
    position: absolute;
    left: -20px;
  }
  
  .current_news_head span{
    margin-left: 10px;
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
  }
  .banner_sub_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
  }
  
  .hot_topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .hot_topic img {
    transition: transform 0.3s ease;
    border-radius: 25px;
    width: 100%; 
  }
  
  .hot_topic_content {
    transition: transform  0.3s ease;
    padding: 20px;
    text-align: center;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center; 
    border-radius: 25px;
    line-height: 1; /* Đặt line-height để hiển thị 2 dòng văn bản */
  

  }
  .hot_topic_content p{
     display: none;
    
  }
  .hot_topic:hover .hot_topic_content p {
    display: block;
    transform: translateY(-10px);
  
    

  }

 
  .hot_topic:hover img{
    transform:  translateY(-10px);
  }
  .hot_topic button {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .hot_topic button:hover {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  