@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";


.parallax3 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.w-schedule2 {
    width: 620px;
}

.fs-10 {
    font-size: 10px;
}

.fs-13 {
    font-size: 13px
}

.fs-48 {
    font-size: 48px;
}

.mb-8 {
    margin-bottom: 6rem;
}

.parallax-bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://oxigeno.bold-themes.com/soccer/wp-content/uploads/sites/3/2017/12/home_inner_01.jpg');
    background-size: cover;
    // background-position: center;
    // transform: translateY(-50%);
}

.parallax-content3 {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

.schedule-img {
    width: 107px;
    height: 107px;
}


.schedule-img2 {
    width: 100%;
    height: 172px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.schedule-box {
    width: 70px;
    height: 50px;
    bottom: 0px;
    left: 0px;
}

.box-day {
    height: 25px;
}

.box-awards {
    width: 580px;
    margin-right: 300px;
}

.next-slide-btn {
    right: 10%;
    top: 55%;
}

.pre-slide-btn {
    left: 10%;
    bottom: 30%;
}